.navbar {
    display: flex;
    background-color: rgb(60, 91, 171);
    width: 1400px;
    height: 40px;
    color: white;
    justify-content:left;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    align-items: center;
}
.symone{
    padding-right: 20px;
    background-color: rgb(60, 91, 171);
    color: white;
    border: none;
}
.vit {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 80px;
    font-weight: bolder;
    justify-content: center;
}
.symtwo {
    padding-left: 15px;
    padding-right: 10px;
}
.symthree {
    padding-left: 10px;
    padding-right: 10px;
}
.symfour {
    padding-left: 10px;
    padding-right: 10px;
}
.reg {
    padding-left: 650px;
}
.okayy {
    display: flex;
    background-color: #cccccc;
    justify-content: space-evenly;
}
.hmm {
    padding-left: 17px;
    width:48px;
    border-right: 3px grey;
    height: 1000px;
    background-color: white;
}
.mainn {
    background-color: rgb(243, 243, 243);
    height: 970px;
    width: 1355px;
    padding-top: 30px;
    padding-left: 30px;
}
.head {
    background-color: rgb(69, 126, 212);
    width: 1200px;
    height: 50px;
    color: white;
}
.cg {
    width: 50px;
    padding-left: 70px;
    padding-right: 66px;
}
.cc {
    width: 50px;
    padding-left: 70px;
    padding-right: 67px;
}
.ct {
    width: 50px;
    padding-left: 70px;
    padding-right: 67px;
}
.cty {
    width: 50px;
    padding-left: 70px;
    padding-right: 67px;
}
.ci {
    width: 50px;
    padding-left: 70px;
    padding-right: 67px;
}
.tt {
    width:50px;
    padding-left: 105px;
    padding-right: 105px;
}
table {
    border: #cccccc;
}
.data {
    padding-top: 10px;
    padding-bottom: 10px;
}
.red {
    color: red;
    font-size: medium;
}
.headd {
    background-color: rgb(69, 126, 212);
    width: 1600px;
    height: 50px;
    color: white;
}
.pdf {
    border: none;

}